@import '~node_modules/modern-normalize/modern-normalize.css';

$backgroundColor: #F4F4F4;
$accentColor: #4440F6;
$primaryTextColor: #111321;
$secondaryTextColor: #A8A8A8;
$primaryTextColorDarkTheme: #F4F4F4;
$backgroundColorDarkTheme: #2E2E2E;

.container {
  padding-left: 16px;
  padding-right: 16px;
  width: 320px;
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
