.card {
  width: 100%;

  @include tablet {
    width: 353px;
  }

  &__img-container {
    position: relative;
  }

  &__img {
    height: 395px;
    object-fit: cover;
    object-position: center;
  }

  &__section-name {
    position: absolute;
    top: 44px;
    left: 0;
    padding: 4px 8px;
    background: rgba(68, 64, 247, 0.7);
    border-radius: 0px 4px 4px 0px;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    color: #FFFFFF;
  }

  &__btn {
    position: absolute;
    right: 8px;
    bottom: 12px;
    display:flex;
  }

  &__title {
    margin: 20px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
