
    <header class="header">
        <div class="container main-nav">

            <nav class="header-nav">
                <a class="logo link" href="./index.html" lang="en">News</a>
                <ul class="nav list">
                    <li class="nav__item"><a class="nav__link link nav__link--current" href="./index.html">Home</a></li>
                    <li class="nav__item"><a class="nav__link link" href="#">Favorite</a></li>
                    <li class="nav__item"><a class="nav__link link" href="#">Read</a></li>
                </ul>
            </nav>

            <form class="search_form" id="search_form">
                <input class="search_input" type="text" name="searchQuery" autocomplete="off" placeholder="Search |" />
                <button class="search_btn" type="submit"><svg class="search_icons" width="17" height="16">
                        <use href="./images/search.svg#icon-search"></use>
                    </svg></button>
            </form>

            <div class="switches">

                <p class="text_light">Light</p>

                <button class="sun_btn" type="submit"><svg class="sun_icons" width="21" height="21">
                        <use href="./images/sun.svg#icon-sun"></use>
                    </svg></button>

                <label class="switch">
                    <input type="checkbox" class="switch_input" />
                    <span class="switch_slider"></span>
                </label>

                <button class="sun_btn" type="submit"><svg class="moon_icons" width="21" height="21">
                        <use href="./images/moon.svg#icon-moon"></use>
                    </svg></button>

                <p class="text_dark">Dark</p>

            </div>
            <div class="btn_mob">
                <button class="search_mob_btn" type="submit"><svg class="search_icons" width="17" height="16">
                        <use href="./images/search.svg#icon-search"></use>
                    </svg></button>
                <button class="menu_mob_btn" type="submit"><svg class="menu_icons" width="24" height="24">
                        <use href="./images/menu.svg#icon-menu"></use>
                    </svg></button>
            </div>

        </div>
    </header> 


    