<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="~node_modules/modern-normalize/modern-normalize.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div>
        <div class="wrapper__head">
          <h1 class="wrapper__head-h1">News</h1>
          <svg width="24" heigth="24">
            <use
              href="/src/images/symbol-defs.svg#icon-x"
              width="24"
              heigth="24"
            ></use>
          </svg>
        </div>
        <ul class="wrapper__link">
          <a href="">
            <li class="wrapper__link-item bg-color-active">
              <div class="flex">
                <svg width="32" heigth="32" class="svg-item">
                  <use
                    href="/src/images/symbol-defs.svg#icon-icon-home"
                    width="32"
                    heigth="32"
                    class="svg-item"
                  ></use>
                </svg>
                <p class="wrapper__link-text">Home</p>
              </div>

              <div>
                <svg width="6" heigth="12" class="svg-rigth">
                  <use
                    href="/src/images/symbol-defs.svg#icon-Vector-right"
                    width="6"
                    heigth="12"
                    class="svg-item"
                  ></use>
                </svg>
              </div>
            </li>
          </a>
          <a href="">
            <li class="wrapper__link-item">
              <div class="flex">
                <svg width="32" heigth="32" class="svg-item">
                  <use
                    href="/src/images/symbol-defs.svg#icon-icon-heart"
                    width="32"
                    heigth="32"
                  ></use>
                </svg>
                <p class="wrapper__link-text">Favorite</p>
              </div>
              <div>
                <svg width="6" heigth="12" class="svg-rigth">
                  <use
                    href="/src/images/symbol-defs.svg#icon-Vector-right"
                    width="6"
                    heigth="12"
                    class="svg-item"
                  ></use>
                </svg>
              </div>
            </li>
          </a>
          <a href="">
            <li class="wrapper__link-item">
              <div class="flex">
                <svg width="32" heigth="32" class="svg-item wrapper__link-use">
                  <use
                    href="/src/images/symbol-defs.svg#icon-icon-book"
                    width="32"
                    heigth="32"
                  ></use>
                </svg>
                <p class="wrapper__link-text">Read</p>
              </div>
              <div>
                <svg width="6" heigth="12" class="svg-rigth">
                  <use
                    href="/src/images/symbol-defs.svg#icon-Vector-right"
                    width="6"
                    heigth="12"
                    class="svg-item"
                  ></use>
                </svg>
              </div>
            </li>
          </a>
        </ul>
      </div>
      <div class="wrapper__button">
        <svg width="21" heigth="21">
          <use
            href="/src/images/symbol-defs.svg#icon-Sun"
            width="21"
            heigth="21"
          ></use>
        </svg>
        <label class="switch">
          <input type="checkbox" class="switch_input" />
          <span class="switch_slider"></span>
        </label>
        <svg width="21" heigth="21">
          <use
            href="/src/images/symbol-defs.svg#icon-Moon"
            width="21"
            heigth="21"
          ></use>
        </svg>
      </div>
    </div>
  </body>
</html>
