<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper__head">
        <h1 class="wrapper__head-h1">News</h1>
        <svg width="24" heigth="24">
          <use
            href="/src/images/symbol-defs.svg#icon-x"
            width="24"
            heigth="24"
          ></use>
        </svg>
      </div>
      <ul>
        <li>
          <svg width="32" heigth="32">
            <use
              href="/src/images/symbol-defs.svg#icon-icon-home"
              width="32"
              heigth="32"
            ></use>
          </svg>
        </li>
        <li>
          <svg width="32" heigth="32">
            <use
              href="/src/images/symbol-defs.svg#icon-Heart"
              width="32"
              heigth="32"
            ></use>
          </svg>
        </li>
        <li>
          <svg width="32" heigth="32">
            <use
              href="/src/images/symbol-defs.svg#icon-icon-book"
              width="32"
              heigth="32"
            ></use>
          </svg>
        </li>
      </ul>
    </div>
  </body>
</html>
